<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Edit task: Todo List</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container-md container-fluid m-auto">
        <form class="text-center" action="/edit/<%=todo._id%>" method="post">
            <div class="form-group w-100 text-center">
                <% if(messages.length == 0){ %> 
                    <!-- <div class="alert alert-secondary" role="alert">Change your task.</div> -->
                <% }else if (messages[0].fail){ %>
                    <div class="alert alert-danger" role="alert"><%= messages[0].message %></div>
                <% } else { %>
                    <div class="alert alert-success" role="alert"><%= messages[0].message %></div>
                <% } %>
                <label for="task">Update Task</label>
                <input class="form-control task m-auto" type="text" name="task" value="<%= todo.task %>">
                <button type="submit" name="button" class="mt-3 btn btn-primary">Save</button>
            </div>
        </form>
    </div>

    <!-- js for Bootstrap choosing option 2 -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</body>
</html>